name: Run indexer

defaults:
  run:
    shell: bash

on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * *'

concurrency: run-indexer

jobs:
  run:
    runs-on: windows-latest
    steps:
      - name: Configure git
        run: git config --system core.longpaths true
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests
      - name: Install CppWinRT
        run: |
          nuget install Microsoft.Windows.CppWinRT -OutputDirectory "${{ runner.temp }}"
      - name: Set up Developer Command Prompt for Microsoft Visual C++
        uses: ilammy/msvc-dev-cmd@v1
      - name: Run indexer
        run: python -u indexer.py
        env:
          CPPWINRT_DIR: ${{ runner.temp }}
      - name: Commit and push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git diff-index --quiet --cached HEAD || git commit -m "Update indexed files"
          git push

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
